<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbcString" connectionString="server=172.168.100.240;user id=dev;Password=master;database=pktvmedia;allow user variables=true;default command timeout=9600" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IP" value="ftp.medialogic.com.pk"/>
    <add key="User" value="mm@medialogic.com.pk"/>
    <add key="Pwd" value="blank6724"/>    
    <add key="DMp" value= "E:\New folder ftp\"/>
    <add key="DR" value="Ratings"/>
    <add key="DB" value="Backup"/>
    <add key="ftpR" value="/Ratings"/>
    <add key="ftp" value="/Backup"/>

    <add key="sm" value=" 172.168.101.4"/>
    <add key="frm" value="info@mediamonitors.com.pk"/>
    <add key="too" value="danialkhan90@yahoo.com , fawad@mediamonitors.com.pk "/>
    <add key="sub" value="Rating Info"/>
    <add key ="emil" value="info"/>
    <add key="passwd" value="email111"/>
    
  </appSettings>

</configuration>